.partners {
  padding: 30px 0;
  .swiper-wrapper {
    padding: 10px 3px;
  }
  .partner-box {
    box-shadow: 0 2px 8px #00000012;
    padding: 15px;
    border-radius: 14px;
    img {
      height: 90px;
      object-fit: contain;
      width: 100%;
    }
  }
}
