.form-control,
.form-select {
  padding: 12px 15px;
  background-color: var(--grey);
  border-color: var(--grey);
  border-radius: 5px;
}

.form-control:focus,
.form-select:focus {
  box-shadow: none;
  background-color: var(--grey);
  border-color: var(--primary);
}

.form-check-input {
  background-color: var(--grey);
  border-color: var(--grey);
  border-radius: 5px;
}

.form-check-input:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}

.form-check-input:focus {
  border-color: #f0515e6b;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem #f0515e6b;
  box-shadow: 0 0 0 0.25rem #f0515e6b;
}

.form-label {
  color: var(--dark);
  font-weight: 1rem;
  font-weight: 500;
}

textarea.form-control {
  min-height: 150px;
}
