// Transition

%tran-main {
    transition: all 0.4s ease-in-out 0s;
}

.or {
    margin-bottom: 15px;
    margin-top: 30px;
    color: var(--primary);
    line-height: 1.25rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.or hr {
    width: 100%;
    border: none;
    border-top: 1px solid var(--grey);
    opacity: 1;
}
.or span {
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    padding: 0 8px;
    background-color: var(--white);
}

.heading-divider {
    display: block;
    width: 4.6875rem;
    height: 0.1875rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    background-color: var(--primary);
}

.bg-color-gray {
    background-color: var(--grey);
}
