.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  --swiper-theme-color: var(--primary); 
}

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-button-prev,
.swiper-button-next {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--grey);
  --swiper-navigation-color: var(--black);
  --swiper-navigation-size: 1.125rem;
  box-shadow: 0px 10px 20px rgb(0 0 0 / 7%);
  @include media-md {
    display: none;
  }
}

.swiper-button-next {
  right: -55px;
  left: auto;
  @include media-lg {
    right: 0;
  }
}

.swiper-button-prev {
  left: -55px;
  right: auto;
  @include media-lg {
    left: 0;
  }
}
