[data-tooltip] {
  position: relative;
  &:after,
  &:before {
    position: absolute;
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(Opacity=0);
    opacity: 0;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out,
      transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transform: translate3d(0, 0, 0);
    pointer-events: none;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    background: 0 0;
    content: "";
  }
  &:after {
    z-index: 1000;
    padding: 0.5rem 0.625rem;
    color: #fff;
    background-color: var(--black);
    content: attr(data-tooltip);
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-align: center;
    border-radius: 0.3125rem;
    letter-spacing: 0.0625rem;
    max-width: 6.875rem;
    min-width: 6.5625rem;
  }
  &:before {
    margin-bottom: -0.75rem;
    border: 0.375rem solid transparent;
    border-top-color: var(--black);
  }
  &:hover:after,
  &:hover:before {
    transform: translateY(-0.75rem) translateX(-50%);
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(Opacity=100);
    opacity: 1;
  }
}
