.error-content {
  text-align: center;
  padding: 100px 0 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media-md {
    padding: 0 15px;
    min-height: calc(100vh - 172px);
  }
  &_wrapper {
    width: 100%;
  }
  svg {
    max-width: 550px;
  }
  h4{
    margin-bottom: 30px;
  }
  .back{
    a{
      // color: var(--primary);
      margin-left: 15px;
    }
  }
}
