.contact-info{ 
  ul {
    li {
      display: flex;
      font-size: 1rem;
      i {
        color: var(--primary);
        font-size: 18px;
        margin-bottom: 15px;
        margin-right: 15px;
      }
      a,
      p {
        color: var(--black);
      }
    }
  }
}
