<div class="property-box">
  <div class="property-box_wrap">
    <div class="property-box_image">
      <a href="@@webRoot/single-property.html">
        <img src="@@webRoot/assets/images/properties-grid-01.jpg" alt="">
      </a>
      <div class="badags">
        <span class="badge text-bg-primary">For Sale</span>
        <span class="badge text-bg-info">Featured</span>
      </div>
    </div>
    <div class="property-box_body">
      <h6><a href="@@webRoot/single-property.html">Affordable Urban House</a></h6>
      <p>1421 San Pedro St, Los Angeles</p>
      <ul>
        <li data-tooltip="3 Bedromm"><i class="fas fa-bed"></i>3 Br</li>
        <li data-tooltip="3 Bedromm"><i class="fas fa-shower"></i>3 Br</li>
        <li data-tooltip="3 Bedromm"><i class="fas fa-square"></i>3 Br</li>
        <li data-tooltip="3 Bedromm"><i class="fas fa-bed"></i>3 Br</li>
      </ul>
    </div>
    <div class="property-box_footer">
      <div class="property-box_price">1580<span>SAR</span></div>
      <div class="property-box_actions"><a href="#" class=""><i class="far fa-heart"></i></a><a href="#" class=""><i
            class="far fa-eye"></i></a></div>
    </div>
  </div>
</div>