.blog-box {
  &_wrap {
    background-color: var(--white);
    border: 1px solid var(--grey);
    border-radius: 5px;
    overflow: hidden;
  }
  &_image {
    position: relative;
    background-color: #000;
    overflow: hidden;
    max-height: 190px; 
    &:hover {
      img {
        transform: scale(1.1);
        opacity: 0.7;
      }
    }
    img {
      transition: 0.3s ease-in-out;
    }
    .badags {
      position: absolute;
      z-index: 5;
      top: 0.75rem;
      left: 0.75rem;
      .badge {
        &:not(:first-child) {
          margin-left: 0.75rem;
        }
      }
    }
  }
  &_body {
    padding: 15px;
    ul{
      margin-bottom: 10px;
      li{
        display: inline-block;
        &:not(:last-child){
          margin-right: 10px;
        }
        i{
          margin-right: 5px;
          color: var(--dark);
        }
      }
    }
  }
}
