.footer {
  background-color: var(--white);
  padding: 50px 0 0;
  &_top {
    text-align: center;
    .logo {
      border-bottom: 1px solid var(--grey);
      margin-top: 40px;
      padding-bottom: 40px;
      margin-bottom: 40px;
      a {
        margin: 0 auto;
        display: block;
      }
    }
    .footer-menu {
      margin-bottom: 40px; 
      li {
        display: inline-block;
        &:not(:last-child) {
          margin-right: 15px;
        }
        a {
          font-weight: 500;
          font-size: 1rem;
          &:hover {
            color: var(--primary);
          }
        }
      }
    }
    .social-icons {
      ul {
        li {
          display: inline-block;
          &:not(:first-child) {
            margin-left: 15px;
          }
          a {
            color: var(--dark);
          }
          i {
            transition: all 0.3s ease;
            font-size: 1.125rem;
          }
        }
      }
    }
  }
  &_copyright {
    border-top: 1px solid var(--grey);
    margin-top: 40px;
    text-align: center;
    padding: 22px 0;
    p {
      margin-bottom: 0;
    }
  }
}
