.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  @include media-md {
    position: fixed;
  }
  @media screen and (min-width: 768px) {
    &.sticking {
      position: fixed;
      animation: menu_sticky 0.5s;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
      background-color: var(--white);
      z-index: 1000;
      .main-menu {
        li > a {
          color: var(--black);
        }
      }
      .header-actions {
        li {
          &::after{
            border-color: var(--black)!important;
          }
         & > a {
          color: var(--black);
        }
        .btn{
            border-color: var(--black);
        }
        }
      }
      @keyframes menu_sticky {
        0% {
          margin-top: -120px;
          opacity: 0;
        }
        50% {
          margin-top: -64px;
          opacity: 0;
        }
        100% {
          margin-top: 0;
          opacity: 1;
        }
      }
    }
  }
  &_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 25px 0;
    .logo {
      max-width: 180px;
      width: 100%;
      img {
        max-height: 40px;
      }
      @include media-sm {
        flex: 0 0 100px;
      }
    }
  }
  .main-menu {
    margin-left: 45px;
    @include media-lg {
      display: none;
    }
    ul {
      li {
        display: inline-block;
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }
  .header-actions {
    ul {
      line-height: 1;
      display: flex;
      align-items: center;
      li {
        display: inline-block;
        position: relative;
        &:not(:first-child) {
          margin-left: 40px;
          &::after {
            position: absolute;
            content: "";
            border-right: 1px solid var(--white);
            left: -20px;
            top: 50%;
            bottom: 0;
            height: 24px;
            transform: translateY(-50%);
          }
        }
        &.menu {
          display: none;
          @include media-lg {
            display: block;
          }
        }
        &.add-list {
          display: block;
          @include media-lg {
            display: none;
          }
          .btn{
            &:hover{
              color: var(--black);
            }
          }
        }
        a {
          display: flex;
          align-items: center;
          position: relative;
          color: var(--white);
          font-size: 1rem;
          i {
            font-size: 20px;
          }
        }
      }
    }
  }
}
