.sidebar-main {
  .widget {
    padding: 25px 20px;
    border: 2px solid var(--light);
    margin-bottom: 25px;
    border-radius: 15px;
    h4 {
      padding-bottom: 18px;
      position: relative;
          margin-bottom: 25px;
      // color: var(--primary);
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        background-image: url(../images/vectors/head_icon.png);
        background-size: auto;
        background-position: 100%;
        width: 30%;
        height: 7px;
      }
    }
    &_search {
      h4 {
        display: none;
      }
      border: none;
      background-image: url(../images/bg/search.jpg);
      background-size: cover;
    }
    &_categories {
      li {
        margin-bottom: 12px;
        position: relative;
        padding-left: 15px;
        &:before {
          content: "";
          background-color: var(--primary);
          width: 6px;
          height: 6px;
          position: absolute;
          top: 10px;
          display: inline-block; 
          left: 0;
          border-radius: 50%;
        }
      }
    }
  }
    .wp-block-latest-posts {
    &__featured-image {
      display: inline-block;
      margin-right: 15px;
      float: left;
      img {
        width: 85px;
        height: 70px;
      border-radius: 15px;
      }
    }
    li {
      position: relative;
      margin-bottom: 15px;
      min-height: 70px;
      > a {
        font-size: 1rem;
        display: inline-block;
        font-weight: 700;
        line-height: 1.2;
        width: calc(100% - 100px);
        margin-bottom: 5px;
      }
      time {
        font-weight: 700;
        display: inline-block;
        color: var(--black);
        opacity: .5;
        font-size: 0.7813rem;
      }
    }
  }
}
